.hidden {
    display:none;
}

body{
    background-color: #191F4F;
    background: linear-gradient(0deg, rgba(25, 31, 79, 1) 0%, rgba(67, 106, 238, 1) 29%, rgba(145, 224, 253, 1) 50%, rgba(219, 187, 246, 1) 77%, rgba(44, 60, 148, 1) 100%);

    min-height: 100vh;
}
body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

button {
    font-size: 14px;
    padding:8px;

}
